@use "../abstracts/mixins" as *;

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background: linear-gradient(#ff6a00, #e64a19, #f44336);
  box-shadow: 0 4px 16px 0 rgba(0, 51, 102, 0.5);
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
  transition: transform 0.6s ease-in-out;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    transform: translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(#d3d3d3, #a9a9a9);
    color: #4a4a4a;
    opacity: 0.6;
  }

  &-wide {
    padding: 1rem 2rem;
  }

  &-gamemode {
    display: flex;
    align-items: center;
    min-width: 260px;
    gap: 1rem;

    > svg {
      @include fixed-square(4rem);
    }

    &-text {
      text-align: start;

      &-play {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}
