.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background: linear-gradient(#ff6a00, #e64a19, #f44336);
  box-shadow: 0 4px 16px 0 rgba(0, 51, 102, 0.5);
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
