.bounce {
  animation: bounce 0.3s ease-in forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.rotation-invalid {
  animation: rotation-invalid 0.3s ease forwards;

  path {
    fill: #dc2626;
  }
}

.ship-placed-vertical.rotation-invalid {
  animation: rotation-invalid-vertical 0.3s ease forwards;
}

@keyframes rotation-invalid {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(5%);
  }

  40% {
    transform: translateY(-5%);
  }

  60% {
    transform: translateY(5%);
  }

  80% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotation-invalid-vertical {
  0% {
    transform: rotate(90deg) translateY(-100%);
  }

  20% {
    transform: rotate(90deg) translateY(-95%);
  }

  40% {
    transform: rotate(90deg) translateY(-105%);
  }

  60% {
    transform: rotate(90deg) translateY(-95%);
  }

  80% {
    transform: rotate(90deg) translateY(-105%);
  }

  100% {
    transform: rotate(90deg) translateY(-100%);
  }
}
