.bounce {
  animation: bounce 0.3s ease forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.slide-up {
  animation: slide-up 0.3s ease forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}
