.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: #e0ffff;
  background: linear-gradient(135deg, #1e3c72, #2a5298, #009ffd);

  > * {
    flex: 1;
  }
}
