.gameplay {
  max-width: 1200px;
  margin: 0 auto;
  gap: 5rem;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    gap: 2.5rem;
  }

  &,
  &-wrapper,
  &-container,
  &-ships {
    display: flex;
  }

  &-wrapper {
    flex-direction: column;
    flex: 1;
    gap: 1rem;
  }

  &-container {
    flex: 1;
    align-items: start;
    gap: 1rem;

    &-player-2 {
      flex-direction: row-reverse;
    }
  }

  &-name {
    font-size: 2rem;
    font-weight: 700;

    &-inactive {
      color: rgba(224, 255, 255, 0.5);
    }

    &-player-1 {
      align-self: end;
    }
  }

  &-ships {
    flex-direction: column;
    gap: calc(5vw - 4vh + 4px);
    width: clamp(50px, 8vw, 125px);

    &-player-1 {
      align-items: end;
    }

    svg {
      height: auto;
    }
  }
}
