.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  overflow: visible;
  width: min(100vh, 100%, 30rem);
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #1972c2;

  $border-width: 2px;
  border: $border-width solid #1972c2;

  &-ship-placement {
    width: min(80vh, 100%, 30rem);
  }

  &-gameplay {
    .grid-item:hover {
      cursor: pointer;
      background-color: #005599;
    }

    &-inactive::after {
      content: "";
      position: absolute;
      width: calc(100% + 2 * $border-width);
      height: calc(100% + 2 * $border-width);
      top: -$border-width;
      left: -$border-width;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 999;
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;

    &-valid {
      background-color: #16a34a;
    }

    &-invalid {
      background-color: #dc2626;
    }

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}
