.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: calc(700px + 3rem);
  padding: 3rem 0;
  margin: 0 auto;

  &-text {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

    &-winner {
      margin-top: 1rem;
      font-weight: 400;
      font-size: 2.5rem;
    }
  }

  &-bot {
    gap: 3rem;

    &-ships {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
    }
  }

  &-flip-screen {
    padding: 3rem 2rem;

    &-icon {
      animation: flip 0.5s ease-in-out infinite;
    }

    .message-text {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
  }

  > .btn {
    margin-top: 3rem;
  }
}

@keyframes flip {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}
