.ship-placement {
  &-wrapper {
    padding: 4rem 0;
  }

  &-btns,
  &-container {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  &-container {
    position: relative;
    padding: 0 6rem;
  }

  &-btns {
    margin-top: 3rem;
    gap: 5rem;

    > .btn {
      width: 17.5rem;
    }
  }

  &-ships {
    position: absolute;
    left: calc(50% + (min(80vh, 100%, 30rem) / 2) + 2rem);
    display: flex;
    flex-direction: column;
    gap: calc(5vw - 8vh + 0.5rem);
    width: clamp(100px, 15vw, 250px);
  }
}
