.ship-placement {
  &-wrapper {
    padding: 4rem 0;
  }

  &-btns,
  &-container {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  &-container {
    gap: 2rem;
    padding: 0 6rem;
  }

  &-btns {
    margin-top: 3rem;
    gap: 5rem;

    > .btn {
      width: 17.5rem;
    }
  }

  &-ships {
    display: flex;
    flex-direction: column;
    gap: calc(5vw - 6vh + 4px);
    width: clamp(100px, 20vw, 250px);
  }
}
